*.pyc
coverage.html/*
.coverage
bin/*
dist/*
build/*
data/*
.eggs/*
*.jpg
*.onnx
*.pt
*.err
*.out
*.prof
*.pyproj
*egg-info/*
temp_*
doc/auto_examples/*
_doc/sphinxdoc/source/coverage/*
doc/_static/viz.js
examples/dot_pyinstrument.html
examples/East_Coker_elm,_2.jpg
examples/East_Coker_elm.jpg
examples/squeezenet1.1-7.onnx
tests/pipeline*.onnx
examples/pipeline_lightgbm.onnx
examples/model.onnx
tests/model.onnx
examples/onnxruntime_profile*.json
version.txt
_doc/bench/*.svg
_doc/examples/*.svg
_doc/bench/*.html
_doc/examples/*.html
_doc/examples/*.json
_doc/sphinxdoc/source/phdoc_static/*.js
_doc/sphinxdoc/source/phdoc_static/reveal.js/*
_doc/sphinxdoc/source/phdoc_static/style_notebook_snippet.css
