*.pyc
coverage.html/*
.coverage
bin/*
dist/*
build/*
data/*
.eggs/*
*.jpg
*.onnx
*.pt
*.err
*.out
*.prof
*.pyproj
*.bat
*egg-info/*
temp_*
version.txt
_doc/bench/*.svg
_doc/bench/*.html
_doc/examples/*.svg
_doc/examples/*.html
_doc/examples/*.json
_doc/examples/*.dot*
_doc/notebooks/.ipynb_checkpoints/*
_doc/sphinxdoc/source/coverage/*
_doc/sphinxdoc/source/phdoc_static/*.js
_doc/sphinxdoc/source/phdoc_static/reveal.js/*
_doc/sphinxdoc/source/phdoc_static/style_notebook_snippet.css
_doc/sphinxdoc/source/_temp_*
_doc/sphinxdoc/source/all_*.rst
_doc/sphinxdoc/source/blog/*
_doc/sphinxdoc/source/filechanges.rst
_doc/sphinxdoc/source/index_*.rst
_doc/sphinxdoc/source/onnxcustom/*
_doc/sphinxdoc/source/phdoc_templates/*.html
_doc/sphinxdoc/source/README.rst
_doc/sphinxdoc/source/notebooks/reveal.js/*
_doc/sphinxdoc/source/gyexamples/*
_doc/sphinxdoc/build/*
_doc/sphinxdoc/source/HISTORY.rst
_doc/sphinxdoc/source/LICENSE.txt
_doc/sphinxdoc/source/nbcov*.png
_doc/sphinxdoc/source/notebooks/*
_doc/sphinxdoc/source/gallery/*
_unittests/ut_cli/something
_unittests/ut_documentation/onnxruntime_profile*.json
_unittests/ut_utils/t.*
_doc/examples/bench.png
_doc/examples/data.csv
_doc/examples/plot_*.png
_doc/examples/plot_l*.xlsx
_doc/examples/plot_*.csv
_doc/examples/summary.csv
