dist: bionic
sudo: true
language: python
python:
    - "3.7"
    - "3.8"
install:
  - pip install -r requirements.txt
  - pip install scikit-learn
  - pip install -r requirements-dev.txt
before_script:
  - gcc --version
  - python setup.py build_ext --inplace
script:
  - python -m pytest --cov-report=xml --cov=onnxcustom tests/
  - python -m flake8 tests
  - python -m flake8 onnxcustom
  - python -m flake8 examples
  - python setup.py bdist_wheel
  - python -m onnxcustom check
after_script:
  - export
  - python -m codecov

  

