codecov
coverage
flake8
joblib
lightgbm
loky
matplotlib
mlinsights
mlprodict>=0.4
nbsphinx
onnx
git+https://github.com/xadupre/onnxconverter-common.git@jenkins
onnxmltools
onnxruntime
pillow
py-spy
pandas
pyinstrument
pyquickhelper>=1.9.3418
pytest
pytest-cov
scikit-learn
git+https://github.com/xadupre/sklearn-onnx.git@jenkins
sphinx
sphinxcontrib-blockdiag
sphinx-gallery
tqdm
xgboost
wheel
