autopep8
category_encoders
codecov
coverage
cpyquickhelper
flake8
joblib
jupyter_sphinx
lightgbm
loky
matplotlib
mlinsights
mlprodict>=0.7
nbsphinx
onnxconverter-common
onnxmltools
pillow
py-spy
pandas
pydot
pyinstrument
pylint
pyquickhelper>=1.10
pytest
pytest-cov
scikit-learn>=1.0
skl2onnx>=1.10.0
sphinx
sphinxcontrib-blockdiag
sphinxcontrib.imagesvg
sphinx-gallery
tabulate
torch
torchvision
tqdm
xgboost
wheel
